@tailwind base;
@tailwind components;
@tailwind utilities;
@import "prismjs/themes/prism-tomorrow.css";


.editorContainer{
	tab-size: 4ch;
	height: 60vh;
	overflow: auto;
	margin: 1.67em 0;
	color: #fff;
	background-color: #000;
}

.editorLineNumber {
	position: absolute;
	left: 0px;
	color: #8a8a8a;
	text-align: right;
	width: 40px;
}

.editor {
	counter-reset: line;
}

.editor pre{
	padding-left: 5rem !important;
}

.codeArea {
	overflow-wrap: normal !important;
	word-break: keep-all !important;
	outline: none;
	padding-top: 1rem;
	padding-left: 5rem !important;
	z-index: 999999999;
	white-space: nowrap;
}
